<?xml version="1.0"?>
<config>
    <modules>
        <Fraudagency_Paymentapi>
            <version>0.1.0</version>
        </Fraudagency_Paymentapi>
    </modules>
    <frontend>
	    <routers>
	        <paymentapi>
	            <use>standard</use>
	            <args>
	                <module>Fraudagency_Paymentapi</module>
	                <frontName>paymentapi</frontName>
	            </args>
	        </paymentapi>
	    </routers>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
					<args>
						<modules>
						      <paymentapi after="Mage_Adminhtml">Fraudagency_Paymentapi</paymentapi>
						</modules>
					</args>
			</adminhtml>
		</routers>
    </admin>
    <adminhtml>
    	<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Fraudagency_Paymentapi>
							<title>FRAUD.AGENCY</title>
							<sort_order>10</sort_order>
						</Fraudagency_Paymentapi>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <global>
         <models>
            <paymentapi>
                <class>Fraudagency_Paymentapi_Model</class>
            </paymentapi>
        </models>
        <blocks>
	            <paymentapi>
	                <class>Fraudagency_Paymentapi_Block</class>
	            </paymentapi>
        </blocks>
        <helpers>
            <paymentapi>
                <class>Fraudagency_Paymentapi_Helper</class>
            </paymentapi>
        </helpers>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <controller_action_after>
                    	<type>singleton</type>
                        <class>Fraudagency_Paymentapi_Model_Observer</class>
                        <method>paymentapi</method>
                    </controller_action_after>
                </observers>
             </controller_action_postdispatch>
             <payment_method_is_active>
		     <observers>
			 <paymentMethodActive>
			     <type>singleton</type>
			     <class>Fraudagency_Paymentapi_Model_Observer</class>
			     <method>paymentMethodActive</method>
			 </paymentMethodActive>
		     </observers>
            </payment_method_is_active>
            <admin_system_config_changed_section_paymentapi>
	                    <observers>
	                        <paymentapi>
	                            <type>singleton</type>
	                            <class>Fraudagency_Paymentapi_Model_Observer</class>
	                            <method>handle_adminSystemConfigChangedSection</method>
	                        </paymentapi>
	                    </observers>
            </admin_system_config_changed_section_paymentapi>
        </events>
    </global>
</config> 
